* {
    font-family: 'Monaco', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #9A33FF, #FF33FE);
}


#timer {
    background-color: #ffffff;
    color: rgb(147, 21, 201);
    text-align: center;
    margin: 25% auto 0 auto;
    padding: 0.5rem;
    height: 80px;
    width: 400px;
    font-size: 60px;
    border: 2px solid;
    border-color: black;
    border-radius: 30%;
}


